<include href="header.html" />
<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Home</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

You are home!
{{ @test }}
<F3:repeat group="{{ @clients }}" key="{{ @client }}" value="{{ @val }}">
    <p><a href="{{ @client['client_url'] }}">{{ @client['client_full'] }}</a></p>
</F3:repeat>

{{ @out }}
<include href="footer.html" />