<p>
    <a href="{{ @site.url }}{{ @client['client_short'] }}/{{ @project['project_short'] }}/{{ @version['version_name'] }}">
        <b>Version {{ @version['version_name'] }}:</b> {{ @version['datetime'] }}
    </a>
</p>

<exclude><h5>Version Summary</h5>
<li>Version ID: {{ @version['version_id'] }}</li>
<li>Project ID: {{ @version['project_id'] }}</li>
<li>Version: {{ @version['version_name'] }}</li>
<li>Datetime: {{ @version['datetime'] }}</li>
<li>Thumbnail: {{ @version['thumb'] }}</li>
<li>Files:

    <F3:repeat group="{{@files}}" key="{{@file}}" value="{{@val}}">
        <ul>
        <li>File ID: {{ @val['file_id'] }}</li>
        <li>Version ID: {{ @val['version_id'] }}</li>
        <li>Quality: {{ @val['quality'] }}</li>
        <li>Complete: {{ @val['complete'] }}</li>
        <li>Is master: {{ @val['is_master'] }}</li>
        <li>Path: {{ @val['path'] }}</li>
        </ul>
    </F3:repeat>

</li></exclude>