START
<div class="flowplayer">
    <video>
        <F3:repeat group="{{@files}}" key="{{@file}}" value="{{@val}}">
            <check if="{{ @val['complete']==1 }}">
                <!-- <source type="video/mp4"
                        src="{{ @val['full_path'] }}"> -->

            </check>
        </F3:repeat>
        <source type="application/dash+xml"
                src="http://allenell.is/clients/media/dash/stream.mpd"
                debug="true">
        <source type="video/mp4"
                src="http://allenell.is/clients/media/test1-360f.mp4">
    </video>
</div>
END



<exclude>

<li>File ID: {{ @val['file_id'] }}</li>
<li>Version ID: {{ @val['version_id'] }}</li>
<li>Quality: {{ @val['quality'] }}</li>
<li>Complete: {{ @val['complete'] }}</li>
<li>Is master: {{ @val['is_master'] }}</li>
<li>Path: {{ @val['path'] }}</li>

</exclude>